/* html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} */

.app-grid-item {
    width: 100%;
    /* flex: 1 1 100%; */
}

.trip {
    width: 100%;
}

.trip-summary {
    padding: 16px;
}

.media-list {
    flex-wrap: nowrap !important;
    scroll-snap-type: x mandatory;
}

.media-list-tile {
    scroll-snap-align: center;
    max-height: 20em;
    /* flex: 1 1 auto; */
    /* min-width: 100%; */
    /* padding: 2px; */
}

.media-list-tile-media {
    display: block;
}
